@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "CRUD Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the CRUD page.</p>
</div>


<div ng-controller="TestController">

    <h2>CRUD Operations</h2>
    <table id="crudTable" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Salary</th>
            </tr>
        </thead>
    </table>

    <link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />

    @section scripts{ 
        <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

        <script>
            $(document).ready(function () {
                $("#crudTable").DataTable({
                    "ajax": {
                        "url": "/Account/GetData",
                        "type": "GET",
                        "datatype" :"json"
                    },
                    "columns": [
                        { "data": "Name" },
                        { "data": "Position" },
                        { "data": "Office" },
                        { "data": "Age" },
                        { "data": "Salary" },
                    ]
                });
            })
        </script>
    }
    <!--
    <button>Add New +</button>

    <div ng-repeat="item in list">
        <li> {{ item }} <input type="type" name="name" value="Test" readonly /> </li>
    </div>

    <div data-ng-repeat="i in [1,2,3,4,5]">

        do something
    </div>

    <input ng-model="addToDo" type="" name="">
    <button ng-click="addItem()">Add This To-Do</button>

    <form action="AddNewData" method="post">
        <button type="submit" value="submit">Log In</button>
    </form>
    -->
</div>
<!--Modules-->
<script src="~/js/app.js"></script>
<!--Controllers-->
<script src="~/js/controllers/TestController.js"></script>

